.container{

   
    padding: 0%;
    margin:3%;

   
}

img{

    height: 1.6rem;
}


#formUpdate{
    
    background-color: rgb(16, 181, 236);
    box-shadow:  5px 5px 20px 0px;
    border-radius: 1rem;
    width: 30rem;
    padding: 5%;
}

.formularioCont{
    
    margin: 2%;
    border-radius: 1rem;
    background-color: rgb(16, 181, 236);
    box-shadow:  5px 5px 20px 0px;
    width: 48.5rem;
    padding: 1rem;

}

.imagenInput{

    height: 10rem;
    width: 12rem;
}

input{

    margin:1%;
    
}


.card-img-top{


    height: fit-content;
}

.card-body{

    display: flex;
    justify-content: space-between;
}



.imagenDesc{

    display: flex;
    flex-direction: row;

}


.login{ 
    border-radius: 1rem;
    justify-content: center;
    border:1px solid black;
    box-shadow:  5px 5px 20px 0px;
    padding: 5%;
    width:30rem;

}

.iniciarSession{

    display: flex;
    flex-direction: row;
    justify-content:center;

}

.registrarse{

    display: flex;
    flex-direction: row;
    text-align: center;
}